In [1]:
import pandas as pd
import re
import sys
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
#from bs4 import BeautifulSoup
import re
import pandas as pd
#from tabulate import tabulate
import os
#import chromedriver_binary
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import NoSuchElementException
import numpy as np
import datetime as dt
from dateutil.parser import parse

In [2]:
AS= pd.read_csv('../data/PSA_Airlines.csv',skiprows=7)

In [3]:
df= pd.DataFrame(AS)
print(len(df))

621

In [4]:
df.loc[df['Actual Arrival Time']=='00:00']

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time
16,OH,01/05/2018,5019.0,N511AE,DCA,20:44,00:00
23,OH,01/07/2018,5019.0,N513AE,DCA,20:44,00:00
26,OH,01/08/2018,5019.0,N514AE,DCA,20:51,00:00
38,OH,01/12/2018,5019.0,N708PS,DCA,20:51,00:00
43,OH,01/13/2019,5458.0,N702PS,DCA,14:35,00:00
76,OH,01/24/2019,5458.0,N718PS,DCA,14:34,00:00
91,OH,01/29/2019,5458.0,N503AE,DCA,14:34,00:00
101,OH,02/02/2018,5019.0,N708PS,DCA,20:51,00:00
132,OH,02/12/2019,5444.0,N513AE,DCA,16:05,00:00
143,OH,02/16/2018,5019.0,N544AE,DCA,20:54,00:00
156,OH,02/20/2019,5444.0,NaN,DCA,16:27,00:00
157,OH,02/20/2019,5458.0,N504AE,DCA,14:37,00:00
162,OH,02/22/2019,5444.0,N500AE,DCA,16:27,00:00
168,OH,02/24/2019,5444.0,NaN,DCA,16:23,00:00
171,OH,02/25/2019,5444.0,NaN,DCA,16:27,00:00
174,OH,02/26/2019,5444.0,NaN,DCA,16:27,00:00
177,OH,02/27/2019,5444.0,NaN,DCA,16:27,00:00
180,OH,02/28/2019,5444.0,NaN,DCA,16:27,00:00
183,OH,03/01/2019,5444.0,NaN,DCA,16:27,00:00
185,OH,03/02/2018,5019.0,N516AE,DCA,20:54,00:00
200,OH,03/07/2018,5019.0,NaN,DCA,20:48,00:00
239,OH,03/20/2018,5019.0,N516AE,DCA,20:48,00:00
242,OH,03/21/2018,5019.0,NaN,DCA,20:48,00:00
250,OH,03/23/2019,5458.0,N716PS,DCA,14:29,00:00
282,OH,04/03/2019,5444.0,N545PB,DCA,16:23,00:00
284,OH,04/04/2018,5080.0,N215PS,RDU,09:22,00:00
320,OH,04/15/2019,5444.0,N703PS,DCA,16:23,00:00
322,OH,04/16/2018,5080.0,N261PS,RDU,09:22,00:00
332,OH,04/19/2019,5444.0,N709PS,DCA,16:23,00:00
355,OH,04/26/2019,5458.0,N530EA,DCA,14:30,00:00
392,OH,10/12/2018,5195.0,NaN,RDU,07:44,00:00
472,OH,11/15/2018,5216.0,N553NN,DCA,14:33,00:00
473,OH,11/15/2018,5444.0,N705PS,DCA,16:35,00:00
503,OH,11/26/2018,5444.0,N506AE,DCA,16:35,00:00
540,OH,12/09/2018,5195.0,NaN,RDU,07:44,00:00
543,OH,12/10/2018,5195.0,NaN,RDU,07:44,00:00

In [5]:
df= df.dropna(subset=['Scheduled Arrival Time','Actual Arrival Time'])
df.head()

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time
0,OH,01/01/2019,5210.0,N241PS,PIT,14:59,15:03
1,OH,01/01/2019,5444.0,N708PS,DCA,16:34,15:57
2,OH,01/01/2019,5458.0,N725PS,DCA,14:32,14:08
3,OH,01/01/2019,5511.0,N241PS,RDU,07:44,07:51
4,OH,01/02/2019,5210.0,N206PS,PIT,14:59,14:32

In [6]:
#Rename it to scheduled arrival date
df.rename(columns = {'Date (MM/DD/YYYY)':'Scheduled Date'}, inplace = True)

In [7]:
df.head()

,Carrier Code,Scheduled Date,Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time
0,OH,01/01/2019,5210.0,N241PS,PIT,14:59,15:03
1,OH,01/01/2019,5444.0,N708PS,DCA,16:34,15:57
2,OH,01/01/2019,5458.0,N725PS,DCA,14:32,14:08
3,OH,01/01/2019,5511.0,N241PS,RDU,07:44,07:51
4,OH,01/02/2019,5210.0,N206PS,PIT,14:59,14:32

In [8]:
df['Scheduled Date']= pd.to_datetime(df['Scheduled Date'])
type(df['Scheduled Date'][0])
df

,Carrier Code,Scheduled Date,Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time
0,OH,2019-01-01,5210.0,N241PS,PIT,14:59,15:03
1,OH,2019-01-01,5444.0,N708PS,DCA,16:34,15:57
2,OH,2019-01-01,5458.0,N725PS,DCA,14:32,14:08
3,OH,2019-01-01,5511.0,N241PS,RDU,07:44,07:51
4,OH,2019-01-02,5210.0,N206PS,PIT,14:59,14:32
...,...,...,...,...,...,...,...
615,OH,2018-12-30,5444.0,N719PS,DCA,16:34,16:21
616,OH,2018-12-30,5458.0,N502AE,DCA,14:44,14:12
617,OH,2018-12-30,5511.0,N247JS,RDU,07:44,07:48
618,OH,2018-12-31,5210.0,N260JS,PIT,14:59,14:29
619,OH,2018-12-31,5511.0,N260JS,RDU,07:44,07:36

In [9]:
# Makea new column called actual arrival date 
df['Actual Arrival Date'] = df['Scheduled Date']
df

,Carrier Code,Scheduled Date,Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Actual Arrival Date
0,OH,2019-01-01,5210.0,N241PS,PIT,14:59,15:03,2019-01-01
1,OH,2019-01-01,5444.0,N708PS,DCA,16:34,15:57,2019-01-01
2,OH,2019-01-01,5458.0,N725PS,DCA,14:32,14:08,2019-01-01
3,OH,2019-01-01,5511.0,N241PS,RDU,07:44,07:51,2019-01-01
4,OH,2019-01-02,5210.0,N206PS,PIT,14:59,14:32,2019-01-02
...,...,...,...,...,...,...,...,...
615,OH,2018-12-30,5444.0,N719PS,DCA,16:34,16:21,2018-12-30
616,OH,2018-12-30,5458.0,N502AE,DCA,14:44,14:12,2018-12-30
617,OH,2018-12-30,5511.0,N247JS,RDU,07:44,07:48,2018-12-30
618,OH,2018-12-31,5210.0,N260JS,PIT,14:59,14:29,2018-12-31
619,OH,2018-12-31,5511.0,N260JS,RDU,07:44,07:36,2018-12-31

In [10]:
df.loc[df['Actual Arrival Time']=='24:00']

Empty DataFrame
Columns: [Carrier Code, Scheduled Date, Flight Number, Tail Number, Origin Airport, Scheduled Arrival Time, Actual Arrival Time, Actual Arrival Date]
Index: []

In [11]:
df['Actual Arrival Time']= df['Actual Arrival Time'].str.replace('24:00','00:00')

In [12]:
df.loc[df['Actual Arrival Time']=='00:00']

,Carrier Code,Scheduled Date,Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Actual Arrival Date
16,OH,2018-01-05,5019.0,N511AE,DCA,20:44,00:00,2018-01-05
23,OH,2018-01-07,5019.0,N513AE,DCA,20:44,00:00,2018-01-07
26,OH,2018-01-08,5019.0,N514AE,DCA,20:51,00:00,2018-01-08
38,OH,2018-01-12,5019.0,N708PS,DCA,20:51,00:00,2018-01-12
43,OH,2019-01-13,5458.0,N702PS,DCA,14:35,00:00,2019-01-13
76,OH,2019-01-24,5458.0,N718PS,DCA,14:34,00:00,2019-01-24
91,OH,2019-01-29,5458.0,N503AE,DCA,14:34,00:00,2019-01-29
101,OH,2018-02-02,5019.0,N708PS,DCA,20:51,00:00,2018-02-02
132,OH,2019-02-12,5444.0,N513AE,DCA,16:05,00:00,2019-02-12
143,OH,2018-02-16,5019.0,N544AE,DCA,20:54,00:00,2018-02-16
156,OH,2019-02-20,5444.0,NaN,DCA,16:27,00:00,2019-02-20
157,OH,2019-02-20,5458.0,N504AE,DCA,14:37,00:00,2019-02-20
162,OH,2019-02-22,5444.0,N500AE,DCA,16:27,00:00,2019-02-22
168,OH,2019-02-24,5444.0,NaN,DCA,16:23,00:00,2019-02-24
171,OH,2019-02-25,5444.0,NaN,DCA,16:27,00:00,2019-02-25
174,OH,2019-02-26,5444.0,NaN,DCA,16:27,00:00,2019-02-26
177,OH,2019-02-27,5444.0,NaN,DCA,16:27,00:00,2019-02-27
180,OH,2019-02-28,5444.0,NaN,DCA,16:27,00:00,2019-02-28
183,OH,2019-03-01,5444.0,NaN,DCA,16:27,00:00,2019-03-01
185,OH,2018-03-02,5019.0,N516AE,DCA,20:54,00:00,2018-03-02
200,OH,2018-03-07,5019.0,NaN,DCA,20:48,00:00,2018-03-07
239,OH,2018-03-20,5019.0,N516AE,DCA,20:48,00:00,2018-03-20
242,OH,2018-03-21,5019.0,NaN,DCA,20:48,00:00,2018-03-21
250,OH,2019-03-23,5458.0,N716PS,DCA,14:29,00:00,2019-03-23
282,OH,2019-04-03,5444.0,N545PB,DCA,16:23,00:00,2019-04-03
284,OH,2018-04-04,5080.0,N215PS,RDU,09:22,00:00,2018-04-04
320,OH,2019-04-15,5444.0,N703PS,DCA,16:23,00:00,2019-04-15
322,OH,2018-04-16,5080.0,N261PS,RDU,09:22,00:00,2018-04-16
332,OH,2019-04-19,5444.0,N709PS,DCA,16:23,00:00,2019-04-19
355,OH,2019-04-26,5458.0,N530EA,DCA,14:30,00:00,2019-04-26
392,OH,2018-10-12,5195.0,NaN,RDU,07:44,00:00,2018-10-12
472,OH,2018-11-15,5216.0,N553NN,DCA,14:33,00:00,2018-11-15
473,OH,2018-11-15,5444.0,N705PS,DCA,16:35,00:00,2018-11-15
503,OH,2018-11-26,5444.0,N506AE,DCA,16:35,00:00,2018-11-26
540,OH,2018-12-09,5195.0,NaN,RDU,07:44,00:00,2018-12-09
543,OH,2018-12-10,5195.0,NaN,RDU,07:44,00:00,2018-12-10

In [13]:
df.loc[df['Actual Arrival Time']=='00:00','Actual Arrival Date']+=dt.timedelta(days=1)

In [14]:
df['Actual Arrival Date']= df['Actual Arrival Date'].dt.strftime('%Y-%m-%d')

In [15]:
df['Scheduled Date']= df['Scheduled Date'].dt.strftime('%Y-%m-%d')

In [16]:
df['Actual Arrival']=df['Actual Arrival Date'] + ' ' + df['Actual Arrival Time']

In [17]:
df['Scheduled Arrival']=df['Scheduled Date'] + ' ' + df['Scheduled Arrival Time']
df

,Carrier Code,Scheduled Date,Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Actual Arrival Date,Actual Arrival,Scheduled Arrival
0,OH,2019-01-01,5210.0,N241PS,PIT,14:59,15:03,2019-01-01,2019-01-01 15:03,2019-01-01 14:59
1,OH,2019-01-01,5444.0,N708PS,DCA,16:34,15:57,2019-01-01,2019-01-01 15:57,2019-01-01 16:34
2,OH,2019-01-01,5458.0,N725PS,DCA,14:32,14:08,2019-01-01,2019-01-01 14:08,2019-01-01 14:32
3,OH,2019-01-01,5511.0,N241PS,RDU,07:44,07:51,2019-01-01,2019-01-01 07:51,2019-01-01 07:44
4,OH,2019-01-02,5210.0,N206PS,PIT,14:59,14:32,2019-01-02,2019-01-02 14:32,2019-01-02 14:59
...,...,...,...,...,...,...,...,...,...,...
615,OH,2018-12-30,5444.0,N719PS,DCA,16:34,16:21,2018-12-30,2018-12-30 16:21,2018-12-30 16:34
616,OH,2018-12-30,5458.0,N502AE,DCA,14:44,14:12,2018-12-30,2018-12-30 14:12,2018-12-30 14:44
617,OH,2018-12-30,5511.0,N247JS,RDU,07:44,07:48,2018-12-30,2018-12-30 07:48,2018-12-30 07:44
618,OH,2018-12-31,5210.0,N260JS,PIT,14:59,14:29,2018-12-31,2018-12-31 14:29,2018-12-31 14:59
619,OH,2018-12-31,5511.0,N260JS,RDU,07:44,07:36,2018-12-31,2018-12-31 07:36,2018-12-31 07:44

In [18]:
FMT = '%Y-%m-%d %H:%M'
df['Scheduled Arrival']= pd.to_datetime(df['Scheduled Arrival'], format=FMT)
df['Actual Arrival']= pd.to_datetime(df['Actual Arrival'], format=FMT)
df

,Carrier Code,Scheduled Date,Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Actual Arrival Date,Actual Arrival,Scheduled Arrival
0,OH,2019-01-01,5210.0,N241PS,PIT,14:59,15:03,2019-01-01,2019-01-01 15:03:00,2019-01-01 14:59:00
1,OH,2019-01-01,5444.0,N708PS,DCA,16:34,15:57,2019-01-01,2019-01-01 15:57:00,2019-01-01 16:34:00
2,OH,2019-01-01,5458.0,N725PS,DCA,14:32,14:08,2019-01-01,2019-01-01 14:08:00,2019-01-01 14:32:00
3,OH,2019-01-01,5511.0,N241PS,RDU,07:44,07:51,2019-01-01,2019-01-01 07:51:00,2019-01-01 07:44:00
4,OH,2019-01-02,5210.0,N206PS,PIT,14:59,14:32,2019-01-02,2019-01-02 14:32:00,2019-01-02 14:59:00
...,...,...,...,...,...,...,...,...,...,...
615,OH,2018-12-30,5444.0,N719PS,DCA,16:34,16:21,2018-12-30,2018-12-30 16:21:00,2018-12-30 16:34:00
616,OH,2018-12-30,5458.0,N502AE,DCA,14:44,14:12,2018-12-30,2018-12-30 14:12:00,2018-12-30 14:44:00
617,OH,2018-12-30,5511.0,N247JS,RDU,07:44,07:48,2018-12-30,2018-12-30 07:48:00,2018-12-30 07:44:00
618,OH,2018-12-31,5210.0,N260JS,PIT,14:59,14:29,2018-12-31,2018-12-31 14:29:00,2018-12-31 14:59:00
619,OH,2018-12-31,5511.0,N260JS,RDU,07:44,07:36,2018-12-31,2018-12-31 07:36:00,2018-12-31 07:44:00

In [19]:
df['Difference']= (df['Scheduled Arrival']-df['Actual Arrival']).astype('timedelta64[m]')
df

,Carrier Code,Scheduled Date,Flight Number,Tail Number,Origin Airport,Scheduled Arrival Time,Actual Arrival Time,Actual Arrival Date,Actual Arrival,Scheduled Arrival,Difference
0,OH,2019-01-01,5210.0,N241PS,PIT,14:59,15:03,2019-01-01,2019-01-01 15:03:00,2019-01-01 14:59:00,-4.0
1,OH,2019-01-01,5444.0,N708PS,DCA,16:34,15:57,2019-01-01,2019-01-01 15:57:00,2019-01-01 16:34:00,37.0
2,OH,2019-01-01,5458.0,N725PS,DCA,14:32,14:08,2019-01-01,2019-01-01 14:08:00,2019-01-01 14:32:00,24.0
3,OH,2019-01-01,5511.0,N241PS,RDU,07:44,07:51,2019-01-01,2019-01-01 07:51:00,2019-01-01 07:44:00,-7.0
4,OH,2019-01-02,5210.0,N206PS,PIT,14:59,14:32,2019-01-02,2019-01-02 14:32:00,2019-01-02 14:59:00,27.0
...,...,...,...,...,...,...,...,...,...,...,...
615,OH,2018-12-30,5444.0,N719PS,DCA,16:34,16:21,2018-12-30,2018-12-30 16:21:00,2018-12-30 16:34:00,13.0
616,OH,2018-12-30,5458.0,N502AE,DCA,14:44,14:12,2018-12-30,2018-12-30 14:12:00,2018-12-30 14:44:00,32.0
617,OH,2018-12-30,5511.0,N247JS,RDU,07:44,07:48,2018-12-30,2018-12-30 07:48:00,2018-12-30 07:44:00,-4.0
618,OH,2018-12-31,5210.0,N260JS,PIT,14:59,14:29,2018-12-31,2018-12-31 14:29:00,2018-12-31 14:59:00,30.0
619,OH,2018-12-31,5511.0,N260JS,RDU,07:44,07:36,2018-12-31,2018-12-31 07:36:00,2018-12-31 07:44:00,8.0

In [20]:
#Count number of flights with Scheduled Arrival Time higher than Actual Arrival or flights that arrived early in 2019
Count_2019=df[df['Actual Arrival Date'].str.contains("2019")]
df19= pd.DataFrame(Count_2019)
Total_19=len(df19)
Twenty_Mins_Early_19= len(df19[df19['Difference'] > 20.0])
Early_Arrivals_19= len(df19[df19['Difference'] > 0])
print("Total Alaska Airlines flights that landed at JFK in 2019:",Total_19)
print("Flights that arrived early in 2019:",Early_Arrivals_19)
print("Flights that arrived more than 20 mins early in 2019:",Twenty_Mins_Early_19)

Total Alaska Airlines flights that landed at JFK in 2019: 254
Flights that arrived early in 2019: 166
Flights that arrived more than 20 mins early in 2019: 42

In [21]:
#Count number of flights with Scheduled Arrival Time higher than Actual Arrival or flights that arrived early in 2018
Count_2018=df[df['Actual Arrival Date'].str.contains("2018")]
df18= pd.DataFrame(Count_2018)
Total_18=len(df18)
Twenty_Mins_Early_18= len(df18[df18['Difference'] > 20.0])
Early_Arrivals_18= len(df18[df18['Difference'] > 0])
print("Total Alaska Airlines flights that landed at JFK in 2018:",Total_18)
print("Flights that arrived early in 2018:",Early_Arrivals_18)
print("Flights that arrived more than 20 mins early in 2018:",Twenty_Mins_Early_18)

Total Alaska Airlines flights that landed at JFK in 2018: 366
Flights that arrived early in 2018: 209
Flights that arrived more than 20 mins early in 2018: 80

In [22]:
#Count number of flights with Scheduled Arrival Time higher than Actual Arrival or flights that arrived early in 2017
Count_2017=df[df['Actual Arrival Date'].str.contains("2017")]
df17= pd.DataFrame(Count_2017)
Total_17=len(df17)
Twenty_Mins_Early_17= len(df17[df17['Difference'] > 20.0])
Early_Arrivals_17= len(df17[df17['Difference'] > 0])
print("Total Alaska Airlines flights that landed at JFK in 2017:",Total_17)
print("Flights that arrived early in 2017:",Early_Arrivals_17)
print("Flights that arrived more than 20 mins early in 2017:",Twenty_Mins_Early_17)

Total Alaska Airlines flights that landed at JFK in 2017: 0
Flights that arrived early in 2017: 0
Flights that arrived more than 20 mins early in 2017: 0

In [23]:
#Count number of flights with Scheduled Arrival Time higher than Actual Arrival or flights that arrived early in 2016
Count_2016=df[df['Actual Arrival Date'].str.contains("2016")]
df16= pd.DataFrame(Count_2016)
Total_16=len(df16)
Twenty_Mins_Early_16= len(df16[df16['Difference'] > 20.0])
Early_Arrivals_16= len(df16[df16['Difference'] > 0])
print("Total Alaska Airlines flights that landed at JFK in 2016:",Total_16)
print("Flights that arrived early in 2016:",Early_Arrivals_16)
print("Flights that arrived more than 20 mins early in 2016:",Twenty_Mins_Early_16)

Total Alaska Airlines flights that landed at JFK in 2016: 0
Flights that arrived early in 2016: 0
Flights that arrived more than 20 mins early in 2016: 0

In [24]:
#Count number of flights with Scheduled Arrival Time higher than Actual Arrival or flights that arrived early in 2015
Count_2015=df[df['Actual Arrival Date'].str.contains("2015")]
df15= pd.DataFrame(Count_2015)
Total_15=len(df15)
Twenty_Mins_Early_15= len(df15[df15['Difference'] > 20.0])
Early_Arrivals_15= len(df15[df15['Difference'] > 0])
print("Total Alaska Airlines flights that landed at JFK in 2015:",Total_15)
print("Flights that arrived early in 2015:",Early_Arrivals_15)
print("Flights that arrived more than 20 mins early in 2015:",Twenty_Mins_Early_15)

Total Alaska Airlines flights that landed at JFK in 2015: 0
Flights that arrived early in 2015: 0
Flights that arrived more than 20 mins early in 2015: 0

In [25]:


# dictionary of lists  
 
year =["2015","2016","2017","2018","2019"]
total_flights= [Total_15, Total_16, Total_17, Total_18, Total_19]
early_arrival=[Early_Arrivals_15,Early_Arrivals_16,Early_Arrivals_17,Early_Arrivals_18,Early_Arrivals_19]
inflated_padding=[Twenty_Mins_Early_15,Twenty_Mins_Early_16,Twenty_Mins_Early_17,Twenty_Mins_Early_18,Twenty_Mins_Early_19]

Carrier_Code=df['Carrier Code'][:5]
dict = {'Carrier Code': Carrier_Code,'year': year, 'Total flights': total_flights, 'Early Arrivals': early_arrival, 'Inflated padding(>20mins early)': inflated_padding} 
df = pd.DataFrame(dict) 
  
# saving the dataframe 
df.to_csv(r'../output/PSA_Airlines.csv',index=False)