In [98]:
import os
import glob
import pandas as pd
os.chdir("../output")

In [99]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [100]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [101]:
Merge= pd.read_csv('../output/combined_csv.csv')
df= pd.DataFrame(Merge)
df

,Carrier Code,year,Total flights,Early Arrivals,Inflated padding(>20mins early)
0,MQ,2015,3768,1937,375
1,MQ,2016,0,0,0
2,MQ,2017,0,0,0
3,MQ,2018,5133,2801,910
4,MQ,2019,3273,1978,703
...,...,...,...,...,...
65,DL,2015,27725,17731,5355
66,DL,2016,30256,21153,7438
67,DL,2017,29593,19713,8470
68,DL,2018,30025,20699,8060
69,DL,2019,21743,14970,5619

In [102]:
df = df[df['Total flights']!= 0]

In [103]:
df

,Carrier Code,year,Total flights,Early Arrivals,Inflated padding(>20mins early)
0,MQ,2015,3768,1937,375
3,MQ,2018,5133,2801,910
4,MQ,2019,3273,1978,703
8,9E,2018,23714,15593,5436
9,9E,2019,14761,9647,3258
10,UA,2015,3573,2483,960
15,VX,2015,4006,2619,824
16,VX,2016,4412,2704,800
17,VX,2017,4368,2622,1029
18,VX,2018,1041,688,376
20,US,2015,1420,770,177
27,EV,2017,1,0,0
33,OO,2018,1474,755,147
34,OO,2019,2053,1186,292
38,OH,2018,366,209,80
39,OH,2019,254,166,42
40,AS,2015,107,84,56
41,AS,2016,366,276,127
42,AS,2017,421,290,103
43,AS,2018,4082,2458,993
44,AS,2019,3407,2114,821
45,B6,2015,44068,26937,8420
46,B6,2016,43693,25808,6812
47,B6,2017,42660,25406,9602
48,B6,2018,43196,24721,7586
49,B6,2019,27805,17966,7521
53,YX,2018,2846,1782,402
54,YX,2019,1804,1211,334
55,HA,2015,320,152,44
56,HA,2016,350,209,78
57,HA,2017,353,205,87
58,HA,2018,365,202,54
59,HA,2019,243,96,28
60,AA,2015,17107,10761,4074
61,AA,2016,18649,10876,3479
62,AA,2017,17023,10180,3923
63,AA,2018,17445,10929,4320
64,AA,2019,10571,6669,2529
65,DL,2015,27725,17731,5355
66,DL,2016,30256,21153,7438
67,DL,2017,29593,19713,8470
68,DL,2018,30025,20699,8060
69,DL,2019,21743,14970,5619

In [104]:
#Filtered List 2015
df_2015 = df[df['year']==2015]
#Total flights that landed in 2015
Total_Flights_2015=(sum([int(i) for i in df_2015['Total flights']]))
#Filtered List 2016
df_2016 = df[df['year']==2016]
#Total flights that landed in 2016
Total_Flights_2016=(sum([int(i) for i in df_2016['Total flights']]))
#Filtered List 2017
df_2017 = df[df['year']==2017]
#Total flights that landed in 2017
Total_Flights_2017=(sum([int(i) for i in df_2017['Total flights']]))
#Filtered List 2018
df_2018 = df[df['year']==2018]
#Total flights that landed in 2018
Total_Flights_2018=(sum([int(i) for i in df_2018['Total flights']]))
#Filtered List 2019
df_2019 = df[df['year']==2019]
#Total flights that landed in 2019
Total_Flights_2019=(sum([int(i) for i in df_2019['Total flights']]))

In [105]:
#Filtered List 2015
df_2015_inflated = df[df['year']==2015]
#Total flights that landed in 2015
Inflated_Flights_2015=(sum([int(i) for i in df_2015['Inflated padding(>20mins early)']]))
#Filtered List 2016
df_2016_inflated = df[df['year']==2016]
#Total flights that landed in 2016
Inflated_Flights_2016=(sum([int(i) for i in df_2016['Inflated padding(>20mins early)']]))
#Filtered List 2017
df_2017_inflated = df[df['year']==2017]
#Total flights that landed in 2017
Inflated_Flights_2017=(sum([int(i) for i in df_2017['Inflated padding(>20mins early)']]))
#Filtered List 2018
df_2018_inflated= df[df['year']==2018]
#Total flights that landed in 2018
Inflated_Flights_2018=(sum([int(i) for i in df_2018['Inflated padding(>20mins early)']]))
#Filtered List 2019
df_2019_inflated= df[df['year']==2019]
#Total flights that landed in 2019
Inflated_Flights_2019=(sum([int(i) for i in df_2019['Inflated padding(>20mins early)']]))

In [120]:
Total_flights= [Total_Flights_2015, Total_Flights_2016, Total_Flights_2017, Total_Flights_2018, Total_Flights_2019]
Inflated_flights= [Inflated_Flights_2015, Inflated_Flights_2016, Inflated_Flights_2017, Inflated_Flights_2018, Inflated_Flights_2019]
year =["2015","2016","2017","2018","2019"]
dict = {'Year': year, 'Total flights': Total_flights, 'Inflated Arrivals': Inflated_flights, } 
df = pd.DataFrame(dict)
df['Percentage'] = (df['Inflated Arrivals']/df['Total flights'])*100
df = df.round(2)
print(df)
# saving the dataframe 
df.to_csv(r'../output/Final_Trend.csv',index=False)

   Year  Total flights  Inflated Arrivals  Percentage
0  2015         102094              20285       19.87
1  2016          97726              18734       19.17
2  2017          94419              23214       24.59
3  2018         129687              28364       21.87
4  2019          85914              21147       24.61